<h5>update post</h5>

<form action="/post/<%= post[:id] %>" method="post">
  <label for="body">body /<a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" target="_blank">markdown cheatsheet</a>/</label>
  <textarea id="body" name="body" class="u-full-width" autofocus="true" required><%= post[:body] %></textarea>
  <a href="/post/<%= post[:id] %>/delete" class="button button-red">Delete</a>
  <input type="submit" name="submit" class="u-pull-right" value="Update"/>
</form>